doctype html 
html
    head
        title Home
    body 
        h1 Librería El Lector Voraz
        h2 Catalogos disponibles:
        ul
            li: a(href='./book/catalog') Libros
            li: a(href='/magazine/catalog') Revistas
            li: a(href='/schoolSupply/catalog') Artículos de Librería
      
        h2 Gestión:
        ul
            li: a(href='/order') Orders
            li: a(href='/sale') Sales
            li: a(href='/supplier') Suppliers
